{
  "mcpServers": {
    "MongoDB": {
      "command": "bash",
      "args": [".cursor/run-mongodb-mcp.sh", "local"]
    },
    "MongoDB-Atlas": {
      "command": "bash",
      "args": [".cursor/run-mongodb-mcp.sh", "atlas"]
    }
  }
}
